.page-switch-scene {
  position: relative;
  flex: 1;
}

.scene-list {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 30px;
  left: 50%;
  padding: 10px;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.4);
}

.scene-list-item {
  margin: 0 5px;
  border: 2px solid transparent;
  flex-shrink: 0;
  width: 200px;
  height: 150px;
}
.scene-list-item.active {
  border-color: coral;
}

.scene-list-item > img {
  width: 100%;
  height: 100%;
}
